#meal{
    display: none;
}

.Ingredient-card
{
    border-radius: 5px;
    background-color: var(--bg-sec-color);
    color: var(--text-sec-color);
    padding: 5px;
    margin: 5px;
}

.btn-outline-danger:hover{
    background-color: red;
}
